<div class="ui grid container home">
  <div class="ui two wide column">
  </div>
  <div class="ui segment ten wide column">
    <div class="ui left rail">
      <div class="ui">
        <app-second-nav></app-second-nav>
      </div>
    </div>
    <div class="ui right rail">
      <div class="ui">
      </div>
    </div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus mollis dapibus. Nulla lectus diam, scelerisque
    et luctus nec, placerat in neque. Duis sit amet lobortis diam, et gravida erat. Orci varius natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. In tincidunt purus sapien, et laoreet augue convallis nec.
    Curabitur fermentum viverra lectus, quis pretium sem. Nam et dignissim enim, mollis lacinia enim.

    Vivamus urna nibh, accumsan in diam laoreet, convallis efficitur leo. Vivamus vitae fringilla arcu, ac congue metus.
    Ut et maximus dui, id pharetra velit. Nulla viverra sem id justo mattis, non viverra justo finibus. Cras lacinia
    porta velit, id ullamcorper tellus pharetra nec. In condimentum sollicitudin nunc, tincidunt gravida nunc varius et.
    Nullam viverra vitae erat non imperdiet. Vestibulum mauris odio, faucibus id gravida et, pulvinar a augue. Donec
    bibendum porttitor ipsum. Curabitur laoreet felis et pharetra placerat. Nam non libero non neque scelerisque
    efficitur hendrerit et elit. Praesent commodo eget justo condimentum fringilla. Etiam quam purus, dignissim ut ante
    eu, vestibulum pulvinar magna. Fusce a lorem et justo luctus tristique vitae at nibh. Etiam nisi orci, hendrerit
    quis mi eu, ornare porttitor arcu. Duis aliquet rutrum purus ut vulputate.

    Quisque consectetur, augue ut bibendum feugiat, orci elit bibendum turpis, vitae viverra ligula neque at risus.
    Quisque facilisis quam eu orci maximus, et laoreet diam accumsan. Aliquam ornare suscipit consequat. Nulla elementum
    turpis vitae sagittis condimentum. Cras consectetur, mi sed euismod cursus, ex lorem imperdiet leo, et lacinia est
    dui at elit. Duis dictum, leo vel tempor condimentum, diam elit posuere urna, a dictum orci sapien id eros. Integer
    dapibus metus eget arcu pellentesque, semper ultricies nunc pretium. Morbi id libero vitae urna consectetur lobortis
    a in dui. Proin porttitor consectetur elementum. Morbi tortor nibh, consequat sed urna gravida, commodo semper
    augue. Vivamus vestibulum, arcu ut imperdiet ullamcorper, ex quam luctus enim, nec malesuada justo ligula ut velit.
    In pretium dictum nisi, sit amet suscipit magna efficitur nec. Proin tempus pharetra ligula vitae pretium. Interdum
    et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ut erat viverra nunc malesuada aliquam.

    Cras leo metus, rhoncus in augue et, accumsan luctus lacus. Maecenas pretium vitae nulla at malesuada. Suspendisse
    posuere, mauris ut tincidunt hendrerit, erat nunc pretium ante, non elementum magna enim a justo. Vestibulum auctor
    mauris justo, vitae maximus arcu tincidunt eu. Phasellus non tortor eget purus facilisis faucibus eu a diam. Vivamus
    at purus commodo, volutpat odio id, lobortis augue. Morbi a leo nisi. Etiam non lorem cursus, eleifend sapien non,
    pulvinar nibh. Aliquam turpis velit, aliquam vel sodales nec, bibendum a quam. Nulla facilisi. Fusce et elit risus.

    Fusce convallis malesuada ipsum, sit amet tempus ipsum ultrices ut. Quisque ac sem a velit fermentum dictum at ac
    elit. Suspendisse et ullamcorper felis. Fusce enim ante, aliquet ut rutrum non, scelerisque rutrum quam. Fusce diam
    diam, feugiat sed auctor eget, tristique a ex. Cras placerat commodo molestie. Praesent pharetra odio elit, in
    molestie justo tempus fringilla. Praesent venenatis varius urna, pellentesque dapibus magna consectetur sit amet.
    Cras faucibus pretium lacus ac porttitor. Donec auctor, mauris ac venenatis aliquet, purus nibh ullamcorper urna,
    nec fringilla felis lacus quis diam. Aliquam sed malesuada ante, viverra iaculis mauris. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Ut lobortis felis at enim ultricies blandit. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Aenean posuere neque ut ante tincidunt aliquam. Vivamus tempor
    commodo faucibus.

    Maecenas ornare magna massa, vel condimentum arcu tristique eget. In ac velit ex. Phasellus eget fringilla velit.
    Quisque vehicula nisi interdum mi sodales volutpat. Integer in lorem commodo risus vehicula venenatis. Etiam
    tincidunt et mauris vitae interdum. Nullam a diam imperdiet, sollicitudin magna hendrerit, ornare ligula. Integer
    libero sapien, finibus ac lacus id, aliquam commodo neque. Phasellus mattis consectetur justo, et molestie metus
    dignissim quis. Suspendisse vitae odio ac metus varius varius. Proin non ante varius, elementum dolor eget,
    ultricies urna. Maecenas eget sem libero. Mauris non tortor nisl.

    Proin mattis urna a lorem consequat pharetra ac eu tellus. Nunc a cursus tortor. Suspendisse feugiat augue nec massa
    pretium, ullamcorper interdum nisl consequat. Curabitur volutpat sapien at enim pretium dignissim. Suspendisse
    commodo quam vitae purus feugiat hendrerit. Nam dictum enim at massa suscipit rutrum. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas. Donec rutrum libero nec eros placerat, vel
    tincidunt ex elementum. Duis viverra venenatis posuere. Praesent mollis id justo a vehicula.

    Phasellus sit amet sem sodales, tristique eros vel, tempus elit. Morbi nulla lacus, iaculis in mollis in, tristique
    ac est. Aliquam ornare dolor et orci mollis aliquam. Donec ac consequat lacus, et scelerisque odio. Quisque magna
    nisi, euismod sagittis bibendum vel, euismod ut eros. Nulla facilisi. Aenean mauris ligula, gravida eget gravida sit
    amet, ornare eu turpis.

    In feugiat turpis eget mauris tincidunt, ut commodo neque interdum. Nulla volutpat rhoncus est quis vehicula. Sed
    sit amet lectus vel magna elementum tempus. Integer ac neque id ex pellentesque ullamcorper in nec nunc. Sed gravida
    mi magna, eu auctor eros tristique sed. Phasellus mollis commodo condimentum. Ut dignissim volutpat tellus, sit amet
    consectetur sem efficitur ac. Donec eros lorem, rhoncus ac metus bibendum, commodo ullamcorper elit. Donec ornare
    venenatis semper. Quisque vitae ullamcorper tortor. In libero lorem, ultricies a volutpat vitae, rhoncus vitae
    risus. Suspendisse at mi tempus, posuere purus et, condimentum nisl.

    Praesent non dui nisi. Pellentesque ornare massa nisl, a faucibus quam fringilla non. Nulla facilisi. Proin in
    pellentesque massa, et fermentum lectus. Aliquam ornare vehicula dignissim. In luctus id massa ut pulvinar. Morbi
    velit ligula, faucibus et laoreet vel, tempus in augue. Suspendisse elementum ipsum venenatis tempor feugiat. In
    scelerisque tristique enim venenatis sagittis. Praesent auctor erat ut sagittis posuere. In hac habitasse platea
    dictumst. Suspendisse sagittis velit nec aliquet malesuada. Integer pharetra lacinia dui non egestas. Phasellus
    aliquam semper viverra. Praesent nisi ligula, facilisis et lectus nec, condimentum lobortis nibh.

    Suspendisse vitae nunc et eros aliquam finibus nec a risus. Nunc convallis sed sapien euismod finibus. Donec eget
    condimentum purus, ut pharetra neque. Integer egestas varius lectus vitae tincidunt. Nunc eu lacus blandit,
    pellentesque ex et, facilisis sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
    turpis egestas. Morbi a nulla a augue sollicitudin laoreet a a velit. Pellentesque ultricies, risus id euismod
    consectetur, velit risus convallis augue, quis fermentum sapien tortor eget lorem. Aenean venenatis ligula justo, at
    facilisis magna pellentesque consequat. Cras gravida enim nibh, quis posuere arcu sollicitudin vitae. Nunc non nisi
    porta, iaculis justo ut, rutrum nisl. Donec efficitur imperdiet justo, in dignissim risus venenatis at. Aenean
    imperdiet, nunc sed fringilla tincidunt, metus dui porta orci, sed ultricies mi felis non sem.

    Aenean sollicitudin lorem vitae felis fringilla porttitor. Etiam rhoncus semper ipsum, id consequat purus euismod
    non. Donec vehicula massa mi, varius feugiat ex cursus a. Praesent non dapibus erat. Curabitur non posuere purus, ut
    maximus leo. Quisque eu justo id neque commodo ultrices. Nulla ut ultricies mi, eget lacinia quam. Nullam non
    volutpat nulla. Cras eget lacus lorem. Maecenas lacinia mattis volutpat. Etiam lectus nulla, venenatis sed nisi et,
    mattis dignissim justo. Phasellus nisl felis, venenatis pharetra dignissim laoreet, varius quis sem. Integer
    ultrices egestas massa, ac condimentum orci ornare a.

    Proin viverra in lacus pharetra lacinia. Donec id risus eget leo pharetra placerat vitae non mi. In varius purus id
    ipsum tempus, quis tincidunt orci placerat. Aliquam euismod ullamcorper fermentum. Nullam sollicitudin neque at eros
    vehicula ultrices. Nam ipsum sapien, vehicula et urna nec, tempus tincidunt ante. Morbi gravida rhoncus leo, id
    eleifend felis tempus vel. Ut tincidunt tempus nunc, et sagittis ex finibus id.
  </div>

  <div class="ui two wide column">
  </div>
</div>
