<div class="ui middle aligned center aligned grid container" style="margin-top: 1rem;">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form #signupForm="ngForm" (ngSubmit)="login(signupForm)" class="ui large form">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" id="username" placeholder="Username" ngModel>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" id="password" placeholder="Password" ngModel>
          </div>
        </div>
        <button class="ui fluid large teal submit button" type="submit">Login</button>
      </div>

      <div class="ui error message"></div>
    </form>
    <div class="ui message">
      New to us? <a routerLink="/register">Register</a>
    </div>
  </div>
</div>
