<div class="ui grid segment">
  <div class="ui two wide column">
    <div class="ui list">
      <div class="item">{{ question.rating}}</div>
      <div class="item">Vote</div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="ui list">
      <div class="item">{{ question.numberOfAnswers }}</div>
      <div class="item">Answers</div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="ui list">
      <div class="item">{{ question.views }}</div>
      <div class="item">Views</div>
    </div>
  </div>
  <div class="ui ten wide column">
    <div class="ui list">
      <div class="item"><strong>{{ question.title }}</strong></div>
      <div class="item"><a>Username</a> - Asked {{ question.createdAt}}</div>
    </div>
  </div>
</div>
