<div class="ui grid segment" (click)="routeToFull()" style="cursor: pointer">
  <div class="ui two wide column">
    <div class="ui mini statistic">
      <div class="value">
        {{ question.rating }}
      </div>
      <div class="label">
        Rating
      </div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="ui mini statistic">
      <div class="value">
        {{ question.numberOfAnswers }}
      </div>
      <div class="label">
        Answers
      </div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="ui mini statistic">
      <div class="value">
        {{ question.views }}
      </div>
      <div class="label">
        Views
      </div>
    </div>
  </div>
  <div class="ui ten wide column">
    <div class="ui list">
      <div class="item"><strong>{{ question.title }}</strong></div>
      <div class="item"><a>Username</a> - Asked {{ question.createdAt}}</div>
    </div>
  </div>
</div>
