<div class="ui grid">
  <div class="ui two wide column">
    <div class="ui list">
      <div class="item">1</div>
      <div class="item">Vote</div>
    </div>
  </div>
  <div class="ui two wide column">
    <div class="ui list">
      <div class="item">5</div>
      <div class="item">Answers</div>
    </div>  </div>
  <div class="ui two wide column">
    <div class="ui list">
      <div class="item">20</div>
      <div class="item">Views</div>
    </div>  </div>
  <div class="ui ten wide column">
    <div class="ui list">
      <div class="item"><strong>How to change the application launcher icon on Flutter?</strong></div>
      <div class="item"><a>Username</a> - Asked Jun 27 '12 at 13:51</div>
    </div>
  </div>
</div>
